@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Teko:wght@300;400&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #161616;
  --header-color: #050505;
  --primary-font-color: #eee;
  --secondary-font-color: #707070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
  transition: 0.2s linear;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
  color: var(--primary-font-color);
}

.body-page {
  display: flex;
}

.page {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.center{
  max-width: 1720px;
  margin: auto;
}