@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Teko:wght@300;400&display=swap');

@font-face {
  font-family: "Cloister";
  src: url('./assets/CloisterBlack.ttf');
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #161616;
  --header-color: #050505;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
  /* font-weight: 400 !important; */
}

body {
  background-color: var(--background-color);
}

.body-page{
  display: flex;
}