.audio-player{
    height: 100%;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 10px 5px;
    flex: 1;
}

.song-title, .audio-player button{
    color: #ccc;
}

.song-title{
    text-align: left;
    width: 175px;
}

.audio-player button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 100%;
}

button.disabled{
    color: #606060;
    cursor: default;
}