.card-row{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-container{
    display: flex;
    margin: 15px;
}

.vertical-line{
    background-color: var(--primary-font-color);
    width: 3px;
    height: 100%;
}
.title-container .title{
    font-size: 2rem;
    text-indent: 5px;
}