.react-carousel {
    flex: 1 1 auto;
}

.react-carousel *{
    transition: 0.2s linear;
}

.react-carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.react-carousel {
    height: 100%;
    position: relative;
}

.react-carousel .control-dots .dot {
    box-shadow: none;
    background: transparent;
    border: 1px solid var(--primary-font-color);
    width: 9px;
    height: 9px;
}

.dot.selected{
    background-color: var(--primary-font-color) !important;
}

.control-dots{
    z-index: -2;
}

.control-dots .dot:nth-last-child(1)::after{
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background-color: var(--primary-font-color);
    transform: translateX(20px);
}
.control-dots .dot:nth-child(1)::before{
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background-color: var(--primary-font-color);
    transform: translateX(-15px);
}

.react-carousel .slide img {
    width: 100%;
    height: 100%;
    opacity: 0.47;
}

.react-carousel, .react-carousel-slide{
    height: 400px;
}

.image-wrapper.hover img{
    scale: 1.05;
}

.image-wrapper.hover ~ .text h3{
    border-bottom: 3px solid var(--primary-font-color);
}

.text h3 {
    border-bottom: 3px solid transparent;
}

.text a{
    font-size: 1.2rem;
    color: var(--primary-font-color);
    text-decoration: none;
}

.image-wrapper img{
    scale: 1;
}

.image-wrapper {
    width: 100%;
    height: 400px;
    margin-bottom: 32px;
    overflow: hidden;
    cursor: pointer;
}

.react-carousel .text{
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    /* border: 1px solid red; */
    left: 60px;
    bottom: 75px;
    color: var(--primary-font-color);
    line-height: 3rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .react-carousel .text{
        left: 20px;
    }
}

.react-carousel .text h2{
        font-size: 3rem;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 10px;
}

@media only screen and (max-width:620px){
    .react-carousel, .react-carousel-slide{
        height: 300px;
    }
}