.event-card{
    width: 48%;
    min-height: 430px;
    margin: 10px;
    background-color: var(--header-color);
}

@media only screen and (max-width: 1120px){
    .event-card{
        width: 98% !important;
    }
}

.event-card div{
    margin: 10px;
}

.event-card img{
    width: 100%;    
    min-height: 225px;
    max-height: 225px;
}

.event-card-text p{
    line-height: 1.6rem;
    color: var(--secondary-font-color);
    font-size: 1.05rem;
}


.event-card-text p:nth-last-child(1){
    min-height: 75px;
    max-height: 75px;
}

.event-card-text h2{
    font-size: 1.6rem;
}

.event-card-text{
    position: relative;
}

.event-card-link{
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--secondary-font-color);
    padding: 3px 5px 3px 5px;
}

.event-card-link:hover{
    color: var(--primary-font-color);
}