header {
    width: 100%;
    min-height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
}

header div {
    height: 100%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid var(--primary-font-color); */
}

.logo h3 {
    color: var(--secondary-font-color);
    margin-left: 1.5rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.logo a {
    font-size: 2.2rem;
    font-family: "Sedgwick Ave Display", sans-serif;
    color: var(--primary-font-color);
    text-decoration: none;
    text-shadow: 2px 2px 16px #eeeeee99;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    .logo a {
        font-size: 1.7rem;
    }

    .separator {
        display: none;
    }

    .logo h3 {
        font-size: 1rem;
    }

    .social-links a {
        /* font-size: 0.9rem !important; */
        margin: 0px 10px !important;
    }
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    color: var(--primary-font-color);
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.1s linear;
}

header .social-links a{
    margin: 0px 20px;
}

.social-links a:hover {
    color: var(--secondary-font-color);
}

.subheader {
    background-color: #161616;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
    cursor: pointer;
    height: 30px;
    position: absolute;
    z-index: 99;
    top: 13px;
    right: 20px;
}

.burger.m-open div:first-child {
    transform: translateY(6px) rotate(45deg);
}

.burger.m-open div:nth-child(2) {
    opacity: 0;
}

.burger.m-open div:last-child {
    transform: translateY(-10px) rotate(-45deg);
}

.burger .burguer-line {
    width: 25px;
    height: 3px;
    background-color: var(--primary-font-color);
    margin: 5px;
    transition: all 0.2s ease;
}

@media only screen and (max-width: 760px) {
    .line {
        display: none;
    }

    header .social-links {
        display: none;
    }

    .navigation {
        display: none !important;
    }

    .burger {
        display: block;
    }
}

.line {
    background-color: var(--secondary-font-color);
    height: 1px;
    width: 100%;
    flex: 2;
    margin-right: 20px;
}

.music-controls {
    flex: 1;
}