.album-container{
    margin: 10px 15px 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #050505;
    padding: 15px;
}

.album{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
    /* box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4); */
    overflow: hidden;
    box-shadow: 0px 0px 2px 5px #2020203a;
}

.album:hover img, .album:hover .album-text{
    scale: 1.02;
}

@media only screen and (max-width: 768px){
    .album-container{
        justify-content: space-around;
        padding: 5px;
    }
}


.album img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.album-text{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000099;
    top: -4px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album:hover .album-text{
    opacity: 1;
}

.music-container{
    margin: 10px 15px 20px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.music-card{
    width: 47%;
    min-width: 400px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    background-color: #050505;
}

@media only screen and (max-width: 920px){
    .music-card{
        min-width: 300px;
    }
}

@media only screen and (max-width: 768px){
    .music-card{
        width: 100%;
        min-width: 0px !important;
    }
}

.music-card img{
    height: 90%;
    margin: 5px;
    width: 50%;
}

.music-card-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
    margin-top: 5px;
}

.music-card-text h2, .music-card-text span, .music-card-text a{
    margin-left: 5px;
}

.music-card-text a{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101010;
    height: 2rem;
    width: 10rem;
}

.music-card-text span{
    color: var(--secondary-font-color);
}

.music-card-text a span:nth-child(2){
    margin: 5px;
    font-size: 1.1rem;
}

.music-card-info{
    flex-direction: column;
    display: flex;
}

.music-card-text a:hover span:nth-child(1){
    color: var(--primary-font-color);
}

.music-card-text a:hover span:nth-child(2){
    color: #eb0c0c;
}